<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("manager:paycompanyorder:save")>
            <a class="btn btn-primary" id = "downfile"  @click="downfile"><i class="fa fa-plus"></i>&nbsp;下载对账文件</a>
			</#if>
			<#if shiro.hasPermission("manager:paycompanyorder:update")>
            <a class="btn btn-primary" @click="compare"><i class="fa fa-pencil-square-o"></i>&nbsp;对账</a>
			</#if>
			<label>平台</label>
			<select  id="platform">
	       		<!-- <option  selected="selected">请选择</option>  -->
				<option value="0">银行</option>
			</select>
			<label>交易日期</label>
			<input type="text" id="starttime" placeholder="请输入交易日期" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
			<label>合作机构</label>
			<select  id="channel">
	       		<!-- <option  selected="selected">请选择</option>  -->
				<option value="0">微信</option>
				<option value="1">支付宝</option>
			</select>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">合作支付机构编号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payCompanyNo" placeholder="合作支付机构编号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付公司清算日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payCompanyClearDate" placeholder="支付公司清算日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">机构交易时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payCompanyTxDate" placeholder="机构交易时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收款户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payeeName" placeholder="收款户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">收款账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payeeAcc" placeholder="收款账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">扣款户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payName" placeholder="扣款户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">扣款账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payAcc" placeholder="扣款账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">扣款银行</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.payBankcode" placeholder="扣款银行"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交易金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.txAmt" placeholder="交易金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交易手续费</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.txFee" placeholder="交易手续费"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交易类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.txType" placeholder="交易类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.mername" placeholder="商户名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">商户号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.merno" placeholder="商户号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交易流水号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.txSerialNo" placeholder="交易流水号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">平台交易日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.platTxDate" placeholder="平台交易日期"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">平台交易时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.platTxTime" placeholder="平台交易时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.importDate" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.remoteTxJournalNo" placeholder=""/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">交易返回码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.trandeCode" placeholder="交易返回码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">对账日期</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="paycompanyOrder.targetDate" placeholder="对账日期"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/manager/paycompanyorder.js?_${.now?long}"></script>
</body>
</html>